/* line 1, app/assets/stylesheets/static.scss */
#welcome_page {
  max-width: 62vw;
  margin: auto;
  overflow: hidden;
}

/* line 7, app/assets/stylesheets/static.scss */
.small {
  font: 400 0.65em 'Crimson Text', serif;
  color: #FB4300;
  text-align: right;
}

/* line 12, app/assets/stylesheets/static.scss */
.small a {
  text-decoration: none;
}
