<h1>HERE ARE ALL THE INGREDIENTS</h1>

<h2>
  <ol>
    <% @ingredients.each do |i| %>
    <li><%= link_to i.name, i %></li>
    <% end %>
  </ol>

  <%= button_to "Add an Ingredient", new_ingredient_path, method: :get %>
</h2>
