<h1>WELCOME TO OUR WEBSITE!!!!!!!!!</h1>

<h2><%= link_to "SEE ALL CREAMS!!!!!", creams_path%></h2>
<h2><%= link_to "SEE ALL INGREDIENTS!!!!!!!!", ingredients_path%></h2>
<h2><%= link_to "ADD A CREAM!!!!!!!!", new_cream_path%></h2>
