<div id="welcome_page">

  <h1>You're Not Not Pretty</h1>
  <div class='small'>It costs <%= number_to_currency(@sum) %> to look this beautiful.</div><br><br>
  <%= link_to "LOOK GOOD, FEEL GOOD", creams_path%><br><br>
  <%= link_to "CRÈME DE LA CREAM", ingredients_path%><br><br>
  <%= link_to "A BEAUTIFUL NEW YOU", new_cream_path%><br><br>

</div>
