<div id="welcome_page">

  <h1>you're not not pretty</h1>
  <div class='small'>It's so nice to be a beautiful girl.</div><br><br>
  <%= link_to "LOOK GOOD, FEEL GOOD", creams_path%><br><br>
  <%= link_to "CRÈME DE LA CREAM", ingredients_path%><br><br>
  <%= link_to "IT COSTS #{number_to_currency(@sum)} TO LOOK THIS PRETTY", new_cream_path%><br><br>
</div>
