<div id="welcome_page">

  <h1>YOU'RE NOT NOT PRETTY</h1>

  <h2><%= link_to "LOOK GOOD, FEEL GOOD", creams_path%></h2>
  <h2><%= link_to "BEST SKIN CARE INGREDIENTS", ingredients_path%></h2>
  <h2><%= link_to "ADD A PRODUCT", new_cream_path%></h2>

</div>
