<div id="welcome_page">

  <h1>YOU'RE NOT NOT PRETTY</h1>

  <%= link_to "LOOK GOOD, FEEL GOOD", creams_path%><br><br>
  <%= link_to "CRÈME DE LA CREAM", ingredients_path%><br><br>
  <%= link_to "A BEAUTIFUL NEW YOU", new_cream_path%><br><br>

</div>
