/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of

 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-image: image-url('lipstick.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    background-color: #fff4f4;
    font-size: 1.3em;
    text-decoration-skip: ink;
}

h1 {
    font: 700 70px 'Crimson Text', serif;
    font-style: italic;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: #4a235a;
}

a:visited {
    color: #d2b4de;
}

a:hover {
    color: #f17f94;
}

#page {
    min-width: 750px;
    padding: 20px;
    margin: 20px 40px;
}

.nav {
    max-width: 25%;
    margin: auto 20px auto 80px;
    display: block;
    float: left;
}
