
#welcome_page {
    padding: 200px;
    margin: auto;
}

#welcome_page a {
    text-decoration: none;
    color: #4A235A;
}

#welcome_page a:visited {
    color: #4A235A;
}

#welcome_page a:hover {
    color: #D2B4DE;
}
